$--color-white: #fff !default;
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #c0c4cc !default;

$--border-radius-base: 4px !default;

// Button

$--button-default-fill: $--color-white !default;
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;
$--button-font-size: 14px !default;
$--button-default-color: $--color-text-regular !default;